# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods (якщо раптом)
Pods/

# Fastlane (на майбутнє)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Environment / secrets
.env
.env.*
**/.env
**/.env.*
