<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.86756906072-f35pis0fdiotgvu6irmqnpqv0a8rdomu</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is used to record your voice during speaking practice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition is used to convert your voice into text during speaking practice.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo access lets you import text from images for reading practice.</string>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used to scan text from photos for your reading library.</string>
</dict>
</plist>
